html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
	background: url("images/wallpaper.jpg") no-repeat center center fixed;
		  background-size: cover;
	opacity:100%;
		
    
	}
	

.dropdown .dropbtn{
  font-size: 28px;  
  border: none;
  outline: none;
  color: white;
  background: black;
  padding: 25px 10px;  
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #1a1a1a;
  }

.dropdown-content {
  display: none;
  position: absolute;
	top:110px;
  background-color: black;	
}

.dropdown-content a {
    color: white;
  padding: 28px 16px;
	font-size: 30px; 
  text-decoration: none;
  display: block;
  text-align: left;
	
	
}

.dropdown-content a:hover {
  background-color:#333333;
	
}

	
.dropdown:hover .dropdown-content {
  display: block;
}

#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color:#28004d; 
align-items:center;
justify-content:space-between;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:120px;
	bottom:140px;	
	z-index:1;
}


.box {
display:flex;	
}



	
.box2  {
	width: 90%;
	}
	

	
.box1 {
	
	width:8%;
}


	
h2 {
	  font-size: 32px;  	
	color:white;
	
	}


	

.material-icons.md-36 { font-size: 63px; }
